.footer {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.footer__content {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  flex-wrap: wrap;
}

.footer__wrapper {
  width: 195px;
  padding: 0 0 0 20px;
}

.footer__nav {
  display: none;
}

.footer__social ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.footer__social-item {
  margin-right: 28px;
  opacity: 0.25;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

.footer__social-item svg {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.footer__logo {
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.5;
    transition: all 0.2s linear;
  }
}

.footer__name {
  font-size: 16px;
  line-height: 38px;
  opacity: 0.9;
  margin-top: 40px;
  margin-bottom: 45px;
}

.footer__copyright {
  width: 100%;
  opacity: 0.25;
  display: flex;
  justify-content: center;
  min-height: 55px;
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 10px;
  letter-spacing: 0.7px;
}

@media (max-width: $width-t) {
  .footer {
    position: relative;
    padding-top: 0;
  }

  .footer__wrapper {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    margin-top: 30px;
  }

  .footer__content {
    justify-content: flex-start;
    padding: 0 65px;
    width: calc(100% - 130px);
  }

  .footer__logo {
    display: none;
  }

  .footer__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .footer__nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: space-between;
  }

  .footer__nav a {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__name {
    font-size: 12px;
    opacity: 0.5;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .footer__copyright {
    border-top: 1px solid $bg-gray;
    padding: 0;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    min-height: 60px;
  }

  .footer__social-item svg {
    width: 22px;
    height: 16px;
  }

  .footer__social ul {
    margin-top: 25px;
  }

  .footer__social-item {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: $width-m) {
  .footer {
    padding: 0;
  }

  .footer__content {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }


  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: $bg-footer-gray;
    order: 1;
  }

  .footer__nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .footer__nav li {
    display: flex;
    min-height: 49px;
    border-bottom: 1px solid $bg-gray;
  }

  .footer__nav a {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-left: 20px;
    width: calc(100% - 20px);
  }

  .footer__name {
    display: none;
  }

  .footer__copyright {
    flex-direction: column;
    border-top: none;
    background-color: #000000;
    min-height: 50px;
    line-height: 15px;
    order: 2;
  }

  .footer__copyright p {
    margin: 0;
  }

  .footer__social ul {
    padding-left: 20px;
    padding-bottom: 30px;
  }

  .footer__social-item {
    margin-left: 0;
    margin-right: 20px;
  }


  .footer__social-item svg {
    width: 40px;
    height: 29px;
  }
}
