.form {
  position: absolute;
  left: calc(50% - 285px);
  bottom: 140px;
  width: 400px;
  min-height: 490px;
  padding: 55px 105px 35px 75px;
  z-index: 10;
  background-color: #ffffff;
}

.form h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: $font-rale;
  color: #000000;
  text-align: center;
  margin-top: 0;
  letter-spacing: 1px;
}

.form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.form input,
.form textarea {
  color: #000000;
  font-size: 20px;
  line-height: 50px;
  border: none;
  border-bottom: 1px solid $bg-gray;
  resize: none;
  outline: none;
  height: 80px;
  margin-bottom: 15px;

  &::placeholder {
    color: #000000;
    font-size: 20px;
    line-height: 50px;
  }
}

.form textarea {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: inherit;
}

.form [type="email"] {
  width: 100%;
}

.form [type="text"] {
  width: calc((100% - 35px) / 2);
  padding: 0;
  margin-right: 35px;
}

.form [type="tel"] {
  width: calc((100% - 35px) / 2);
  padding: 0;
}

.form p {
  padding-top: 10px;
  font-size: 12px;
  opacity: 0.5;
  color: #000000;
  margin: 0;
}

.form a {
  font-size: 12px;
  opacity: 0.5;
  color: #000000;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  transition: all 0.2s linear;

  &:hover {
    border-bottom: 1px dotted #000000;
    transition: all 0.2s linear;
  }
}

.form button {
  font-size: 25px;
  font-family: $font-rale;
  font-weight: 700;
  width: 230px;
  min-height: 60px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 30px;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s linear;
  }
}

@media (max-width: 1199px) {
  .form {
    width: 42%;
    min-height: 320px;
    left: 65px;
    bottom: 170px;
    padding: 35px 45px 30px 45px;
  }

  .form h2 {
    font-size: 18px;
  }

  .form input,
  .form textarea {
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 15px;
    height: 55px;

    &::placeholder {
      font-size: 14px;
      line-height: 36px;
    }
  }

  .form p {
    padding: 0;
    font-size: 10px;
    line-height: 11px;
  }

  .form a {
    font-size: 10px;
    line-height: 11px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form button {
    margin-top: 20px;
    font-size: 16px;
    width: 165px;
    min-height: 45px;
  }
}

@media (max-width: 767px) {
  .form {
    position: static;
    width: calc(100% - 40px);
    padding: 45px 20px 60px 20px;
  }

  .form p {
    width: 100%;
    text-align: center;
  }

  .form h2 {
    margin-bottom: 10px;
  }

  .form a {
    width: 100%;

    &:hover {
      border-bottom: none;
    }
  }

  .form button {
    margin-top: 30px;
  }
}
