.form {
  margin-top: -250px;
  width: calc(100% - 430px - 180px);
  max-width: 400px;
  min-height: 490px;
  padding: 55px 105px 35px 75px;
  z-index: 10;
  background-color: #ffffff;
}

.form h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: $font-rale;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: #000000;
}

.form label {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  border-bottom: 1px solid $bg-gray;
  height: 50px;
  margin-bottom: 40px;
}

label.form__message {
  margin-top: 10px;
  margin-bottom: 15px;
}

form span {
  height: 25px;
}

.form input {
  color: #000000;
  font-size: 20px;
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  width: 100%;
}

.form__name {
  margin-right: 35px;
  width: calc(100% / 2 - 18px);
}

.form__tel {
  width: calc(100% / 2 - 18px);
}

.form__email,
.form__message {
  width: 100%;
}

.form__agreement {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p {
  padding-top: 10px;
  font-size: 12px;
  opacity: 0.5;
  color: #000000;
  margin: 0;
}

.form a {
  font-size: 12px;
  opacity: 0.5;
  color: #000000;
  border-bottom: 1px solid #ffffff;
  transition: all 0.2s linear;

  &:hover {
    border-bottom: 1px dotted #000000;
    transition: all 0.2s linear;
  }
}

.form button {
  font-size: 25px;
  font-family: $font-rale;
  font-weight: 700;
  width: 230px;
  min-height: 60px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 30px;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s linear;
  }
}

@media (max-width: $width-t) {
  .form {
    order: -1;
    width: calc(100% - 325px);
    min-height: 320px;
    margin-top: -120px;
    padding: 35px 45px 30px 50px;
  }

  .form h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .form label {
    font-size: 14px;
    margin-bottom: 25px;
    height: 40px;
  }

  .form input {
    font-size: 14px;
    line-height: 18px;
  }

  .form__name {
    width: 120px;
    margin-right: 40px;
  }

  .form__tel {
    width: calc(100% - 160px);
  }

  label.form__message {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .form span {
    line-height: 18px;
    height: auto;
  }

  .form p {
    padding: 0;
    font-size: 10px;
    line-height: 11px;
  }

  .form a {
    font-size: 10px;
    line-height: 11px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .form button {
    margin-top: 25px;
    font-size: 16px;
    width: 165px;
    min-height: 40px;
  }
}

@media (max-width: $width-m) {
  .form {
    position: static;
    width: calc(100% - 40px);
    max-width: none;
    padding: 45px 20px 60px 20px;
    margin-top: 0;
    order: 0;
  }

  .form p {
    width: 100%;
    text-align: center;
  }

  .form__tel {
    min-width: 100px;
  }

  .form h2 {
    margin-bottom: 25px;
  }

  .form a {
    width: 100%;

    &:hover {
      border-bottom: none;
    }
  }

  .form__agreement {
    margin-top: 10px;
  }

  .form button {
    margin-top: 30px;
    min-height: 45px;
  }
}
