.header {
  width: calc(100% - 30px);
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 60px;
  transition: all 0.2s linear;
  width: 141px;
  height: 60px;
}

.header__logo:hover {
  opacity: 0.8;
  transition: all 0.2s linear;
}

.header__nav {
  display: flex;
  flex-grow: 1;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  font-weight: 500;
  margin-right: 25px;
  color: $gray-text;
  font-size: 10px;
  text-transform: uppercase;
}

.header__nav-item a {
  transition: all 0.2s linear;

  &:hover {
    color: #000000;
    transition: all 0.2s linear;
  }
}

.header__tel {
  margin-right: 25px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.2s linear;

  &:hover {
    color: $gray-text;
    transition: all 0.2s linear;
  }
}

.header__scroll {
  background-color: $bg-green;
  min-width: 190px;
  min-height: 45px;
  display: flex;
  line-height: 45px;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: $hover-shadow;
    transition: all 0.2s linear;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 1199px) {
  .header {
    width: calc(100% - 130px);
    padding: 7px 65px;
  }

  .header__scroll {
    display: none;
  }

  .header__logo {
    margin-right: 38px;
    width: 86px;
    height: 37px;
  }

  .header__tel {
    padding-top: 7px;
    margin-left: auto;
    margin-right: 0;
    font-size: 14px;
  }

  .header__nav {
    display: none;
  }

  .header__nav--active {
    display: block;
    position: absolute;
    z-index: 100;
    top: 51px;
    left: 0;
    width: 207px;
    flex-grow: 0;
  }

  .header__burger {
    display: block;
    background-color: transparent;
    border: none;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
    background-color: $bg-gray;
  }

  .header__nav-item {
    justify-content: center;
    width: 100%;
    display: flex;
    height: 40px;
    margin: 0;
    border-bottom: $border-gray;
  }

  .header__nav-item a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-circe;
    font-weight: 400;
    font-size: 12px;
  }

  .header__burger svg {
    width: 26px;
    height: 21px;
    opacity: 0.4;
  }
}

@media (max-width: 767px) {
  .header {
    width: calc(100% - 40px);
    justify-content: space-between;
    padding: 6px 20px;
  }

  .header__tel {
    display: none;
  }

  .header__burger svg {
    width: 18px;
    height: 14px;
  }

  .header__nav--active {
    top: 49px;
    width: 100%;
  }
}
