.main-screen {
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(90deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.3) 100%), url("../img/bg-desktop.jpg");
  background-position: top right, top right;
  background-size: 100% 100%, 1920px 1035px;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
}

.main-screen__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1170px;
  width: calc(100% - 30px);
  padding: 150px 15px 120px;
}

.main-screen h2 {
  margin: 0;
  font-family: $font-rale;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 85px;
  letter-spacing: 4px;
  color: #ffffff;
}

.main-screen__mobile-text {
  display: none;
}

.main-screen__full-text {
  font-size: 24px;
  width: 1030px;
  font-weight: 500;
  color: #ffffff;
  line-height: 38px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.main-screen__full-text span {
  color: $bg-green;
}

.main-screen__buttons-wrapper {
  display: flex;
}

.main-screen__services {
  color: #000000;
  font-weight: 900;
  font-size: 20px;
  background-color: $bg-green;
  width: 300px;
  min-height: 56px;
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.main-screen__contacts {
  outline: 1px solid $bg-green;
  width: 300px;
  min-height: 56px;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.main-screen__services:hover,
.main-screen__contacts:hover {
  box-shadow: $hover-shadow;
  transition: all 0.2s linear;
}

.main-screen__slider {
  max-width: 1170px;
  width: calc(100% - 30px);
  padding: 0 15px;
  height: 210px;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-screen__slider .swiper-slide {
  display: flex;
  flex-direction: column;
  width: 235px;
  align-items: center;
}

.swiper-pagination {
  display: none;
}

.main-screen__slider svg {
  fill: #ffffff;
  opacity: 0.7;
  width: 74px;
  height: 69px;
}

.main-screen__slider p {
  font-size: 15px;
  line-height: 20px;
  width: 235px;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}


@media (max-width: 1199px) {
  .main-screen {
    background-image: linear-gradient(90deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.3) 100%), url("../img/bg-tablet.jpg");
    background-size: 768px 600px, 768px 600px;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-screen__wrapper {
    padding: 125px 75px 0 85px;
    width: calc(100% - 160px);
    background-color: transparent;
    min-height: 475px;
    margin: 0;
  }

  .main-screen__buttons-wrapper {
    justify-content: space-between;
  }

  .main-screen__full-text {
    width: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 85px;
  }

  .main-screen button {
    width: calc(50% - 10px);
    font-size: 16px;
  }

  .main-screen h2 {
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 2px;
    width: 100%;
  }

  .main-screen__slider.swiper-container {
    width: calc(100% - 50px);
    padding: 50px 25px 0;
    height: 275px;
    margin: 0;
    background-color: #ffffff;
    opacity: 1;
  }

  .main-screen__slider .swiper-slide {
    width: calc(100% / 3 - 80px);
    padding: 25px 40px 35px;
    z-index: 0;
    height: 103px;
    background-color: #ffffff;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
  }

  .main-screen__slider .swiper-slide-active {
    transform: scale(1.3);
    z-index: 10;
    opacity: 1;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .main-screen__slider .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .main-screen__slider .swiper-pagination-bullet-active {
    background-color: $bg-green;
    width: 8px;
    height: 8px;
  }

  .main-screen__slider p {
    color: #000000;
    font-size: 12px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .main-screen__slider svg {
    width: 70px;
    height: 70px;
    fill: #000000;
  }
}

@media (max-width: 767px) {
  .main-screen {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.3) 100%), url("../img/bg-mobile.jpg");
    background-size: 320px 470px, 320px 470px;
  }

  .main-screen__wrapper {
    padding: 130px 0 0;
    width: calc(100% - 40px);
    margin: 0;
    min-height: auto;
  }

  .main-screen h2 {
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    min-height: 40px;
    letter-spacing: 1px;
  }

  .main-screen__mobile-text {
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    display: block;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    min-height: 40px;
  }

  .main-screen__full-text {
    padding: 35px 20px 40px;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    background-color: #ffffff;
    color: #000000;
    order: 4;
  }

  .main-screen__full-text span {
    color: #000000;
  }

  .main-screen__mobile-text span {
    color: $bg-green;
  }

  .main-screen__buttons-wrapper {
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 25px;
  }

  .main-screen__contacts {
    outline: none;
    border: 1px solid $bg-green;
  }

  .main-screen__buttons-wrapper button {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    min-height: 60px;
  }

  .main-screen__slider.swiper-container {
    width: 100%;
    height: 230px;
    padding: 0;
    margin-top: 0;
  }

  .main-screen__slider .swiper-slide {
    box-shadow: none;
    width: calc(100% - 142px);
    margin: 0 20px;
    height: 155px;
    border: $border-gray;
    transform: none;
    padding: 25px 50px 20px;
  }

  .main-screen__slider .swiper-slide-active {
    transform: none;
  }

  .main-screen__slider p {
    opacity: 1;
    font-size: 14px;
    line-height: 20px;
  }

  .main-screen__slider svg {
    width: 90px;
    height: 90px;
  }
}
