.partners {
  width: calc(100% - 30px);
  max-width: 1170px;
  margin: 0 auto;
  padding: 65px 15px 130px;
  position: relative;
}

.partners__header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.partners h2 {
  flex-grow: 1;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  font-family: $font-rale;
  font-weight: 900;
}

.partners h2::after {
  content: "";
  display: inline-block;
  width: calc(100% - 300px);
  height: 1px;
  background-color: #000000;
}

.partners h2 span {
  display: none;
}

.partners__toggle-button {
  cursor: pointer;
  background-color: #ffffff;
  height: 35px;
  width: 58px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $bg-green;
    transition: background-color 0.2s linear;
  }
}

.partners__toggle-button svg {
  width: 16px;
  height: 6px;
}

.partners__toggle-button:first-of-type {
  margin-left: 37px;
  border-right: none;
}

.partners__toggle-button:first-of-type svg {
  transform: rotate(180deg);
}

.partners__toggle-button:last-of-type {
  border-left: none;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 8px;
    top: 10px;
    left: 0;
    background-color: #000000;
  }
}

.partners ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding: 15px 0 0 0;
  margin: 0;
}

.partners .swiper-slide {
  width: calc((100% - 90px) / 4);
  height: 135px;
  display: flex;
}

.partners__link {
  opacity: 0.5;
  width: 100%;
  transition: filter 0.2s linear;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
    transition: filter 0.2s linear;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

@media (max-width: $width-t) {
  .partners {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .partners h2 {
    font-size: 26px;
    justify-content: flex-start;

    &::after {
      display: none;
    }
  }

  .partners h2 span {
    display: inline;
  }

  .partners__toggle-button {
    display: none;
  }

  .partners__slider {
    width: calc(100%);
    padding: 10px 0 0;
    margin: 0;
    overflow: hidden;
  }

  .partners__slider .swiper-wrapper {
    width: 100%;
  }

  .partners ul {
    padding-bottom: 50px;
  }

  .partners .swiper-slide {
    border: none;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    width: calc(100% / 3);

    &-active {
      transform: scale(1.25);
      z-index: 1;
      opacity: 1;
    }
  }

  .partners .swiper-pagination {
    bottom: 10px;
  }

  .partners .swiper-pagination-bullet {
    width: 6px;
    height: 6px;

    &:first-child,
    &:last-child {
      width: 4px;
      height: 4px;
    }
  }

  .partners .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $bg-green;
    width: 8px;
    height: 8px;
  }
}

@media (max-width: $width-m) {
  .partners {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .partners__slider {
    padding-top: 0;
    width: 100%;
  }

  .partners h2 {
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 25px;
  }

  .partners h2 span {
    display: none;
  }

  .partners .swiper-wrapper {
    padding-bottom: 30px;
  }

  .partners .swiper-slide {
    border: 1px solid $bg-gray;
    box-shadow: none;
    width: calc(100% - 5px);
    margin-left: -20px;

    &:not(.swiper-slide-active) {
      opacity: 0;
    }

    &-active {
      transform: none;
    }
  }
}
