$font-mono: "PT Mono", "Courier New", monospace;

$footer-border: 1px solid rgba(98, 105, 98, 0.2);
$advantage-border: 1px solid #ebebeb;

$bg-blue: #00b2ff;
$bg-input: rgba(255, 255, 255, 0.1);
$bg-dark: #1b2d37;
$bg-header: #203c42;
$bg-footer: #fafafa;
