$font-circe: "Circe", "Arial", sans-serif;
$font-rale: "Raleway", "Arial", sans-serif;

$bg-green: #00ffd7;
$gray-text: #707070;
$bg-gray: #e7e7e7;
$light-gray: #f4f4f4;
$bg-footer-gray: #1a1a1a;

$border-gray: 1px solid #dedede;

$hover-shadow: 0 2px 4.75px 5px rgba(0, 255, 215, 0.6);
