$font-circe: "Circe", "Arial", sans-serif;

$footer-border: 1px solid rgba(98, 105, 98, 0.2);
$advantage-border: 1px solid #ebebeb;

$bg-green: #00ffd7;
$gray-text: #707070;
$bg-gray: #e7e7e7;
$border-gray: 1px solid #dedede;
